.navbar {
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 4px 4px 4px rgb(49, 47, 47);
    /* position: fixed; */
}

.form-container {
    border: 2px solid black;
    position: relative;
    border-radius: 15px;
    width: 40%;
    padding: 1%;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* .form-fields input {
    margin: 1%;
} */

.imgBox {
    border: 3px solid black;
    border-radius: 8px;
    margin-top: 50px;
    padding: 3%;
    
}

.input-labels {
    display: flex;
    flex-direction: column;
}

.input-fields {
    display: flex;
    flex-direction: column;
}

.input-fields label {
    margin: 5% 1%;
}

.input-fields input {
    margin: 5% 1%;
}

.form-box {
    display: flex;
}

