* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  background: linear-gradient(to bottom, #2d2c2c, #c6c3c3);
  color: #313030;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 95%;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 95%;
}

.form-example-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 2% 0;
  margin: 5% 0;
}

.navbar {
  background-color: #9e9e9e;
  padding: 1%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  width: 98%;
  margin: 10px 2%;
}

.navbar h1 {
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  font-size: 2.25rem;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  width: 17%;
  padding: 2% 0;
  height: 45%;
}

#addCard-btn {
  width: 20%;
  font-size: 1.5rem;
  box-shadow: 1px 1px;
  border-radius: 4px;
}

#myCards-btn {
  width: 40%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px;
}

.search {
  display: flex;
  gap: 7%;
}

#searchBar-field {
  padding: 4%;
  border-radius: 8px;
  box-shadow: 1px 1px;
}

#search-btn {
  border-radius: 4px;
  box-shadow: 1px 1px;
  padding: 2%;
}

.account-btns {
  display: flex;
}

.account-btns p {
  margin: 0 10px;
  color: #ffffff;
  cursor: pointer;
}

#login-btn {
  border-right: 1px solid #ffffff;
}

#name-input,
#phone-input,
#occupation-input,
#email-input {
  padding: 3%;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form-item {
  margin: 5% 0;
}

label {
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px rgb(41, 40, 40);
  color: #c6c3c3;
}

#form-h2 {
  color: #c6c3c3;
  text-shadow: 1px 1px 1px rgb(41, 40, 40);
  padding: 2%;
  padding-bottom: 4%;
  text-align: center;
}

.form-container {
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px;
  width: 30%;
  border: 2px solid rgb(47, 46, 46);
  background-color: rgba(200, 167, 236, 0.2);
  box-shadow: 8px 8px;
  gap: 5%;
}

#form-form {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  width: 100%;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#form-submit-btn {
  background-color: #454547;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#submit-btn-container {
  display: flex;
  justify-content: center;
  padding: 6%;
  margin-bottom: 5%;
}

.color-selection {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}

.color-selector {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 4px;
}

.example-container {
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
  width: 40%;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 8px 8px rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10% 5%;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0 7% 5% 5%;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#signupForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }

.user-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  margin: 3%;
}

.username-container {
  display: flex;
  gap: 10%;
  margin: 5%;
  padding: 5% 0 5% 0;
}

#username-login {
  border-radius: 3px;
  border-bottom: 1px solid black;
}

#password-login {
  border-radius: 3px;
  border-bottom: 1px solid black;
}

.login-label {
  color: black;
}

.login-submit {
  background-color: #454547;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.password-container {
  display: flex;
  gap: 11%;
  margin: 5%;
  padding-bottom: 10%;
}

.close-login,
.close-signup {
  color: #aaaaaa;
  font-size: 3rem;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.close-login:hover,
.close-login:focus,
.close-signup:hover,
.close-signup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer-container {
  background-color: #9e9e9e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
}
