* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  background: linear-gradient(to bottom, #2d2c2c, #c6c3c3);
  color: #313030;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 95%;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: 95%;
}

.form-example-container {
  display: flex;
  justify-content: center;
  gap: 10%;
  padding: 2% 0;
  margin: 15% 5%;
}

.navbar {
  background-color: #9e9e9e;
  padding: 1%;
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  width: 98%;
  float: left;
  margin: 1% 2%;
  box-shadow: 4px 4px rgb(27, 26, 26);
}

.navbar h1 {
  color: #ffffff;
  text-shadow: 1px 1px 1px black;
  font-size: 2.25rem;
}

.card-nav {
  display: flex;
  justify-content: space-between;
  width: 17%;
  padding: 2% 0;
  height: 45%;
}

#addCard-btn {
  width: 20%;
  font-size: 1.5rem;
  box-shadow: 1px 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.3s, box-shadow 0.3s;
}

#addCard-btn:hover {
  transform: scale(1.05);
  background-color: #3f3d3d;
  color: rgb(233, 236, 239);
  box-shadow: 0px 0px 3px 3px #ffffff;
}

#myCards-btn {
  width: 40%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 1px 1px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

#myCards-btn:hover {
  transform: scale(1.05);
  background-color: #3f3d3d;
  color: rgb(233, 236, 239);
  box-shadow: 0px 0px 3px 3px #ffffff;
}

.search {
  display: flex;
  gap: 7%;
}

#searchBar-field {
  padding: 4%;
  border-radius: 8px;
  box-shadow: 1px 1px;
}

#search-btn {
  border-radius: 4px;
  box-shadow: 1px 1px;
  padding: 2%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

#search-btn:hover {
  transform: scale(1.05);
  background-color: #3f3d3d;
  color: rgb(233, 236, 239);
  box-shadow: 0px 0px 3px 3px #ffffff;
}

.top-right {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

.account-btns {
  display: flex;
}

.account-btns p {
  margin: 0 10px;
  color: #ffffff;
  cursor: pointer;
}

#message {
  color: rgb(174, 3, 3);
  text-shadow: 0.5px rgb(41, 39, 39);
}

#signup-btn {
  border-left: 1px solid #ffffff;
  transition: 0.1s all;
}

#signup-btn:hover {
  transform: scale(1.1);
  color: rgb(13, 13, 13);
}

#login-btn {
  border-right: 1px solid #ffffff;
  transition: 0.1s tranform;
}

#login-btn:hover {
  transform: scale(1.1);
}

#login {
  transition: 0.1s all;
}

#login:hover {
  color: #313030;
}

#signup {
  transition: 0.1s all;
}

#signup:hover {
  color: #313030;
}

#name-input,
#phone-input,
#occupation-input,
#email-input {
  padding: 3%;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px;
}

.form-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.form-item {
  margin: 5% 0;
}

label {
  font-size: 1.25rem;
  text-shadow: 1px 1px 1px rgb(41, 40, 40);
  color: #c6c3c3;
}

#form-h2 {
  color: #c6c3c3;
  text-shadow: 1px 1px 1px rgb(41, 40, 40);
  padding: 2%;
  padding-bottom: 4%;
  text-align: center;
}

.form-container {
  padding: 2% 3%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 10px;
  width: 30%;
  border: 2px solid rgb(47, 46, 46);
  background-color: rgba(200, 167, 236, 0.2);
  box-shadow: 8px 8px;
  gap: 5%;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-btns {
  display: flex;
  justify-content: space-evenly;
}

#form-submit-btn,
#edit {
  background-color: #454547;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s all ease-in-out;
}

#form-submit-btn:hover, #edit:hover {
    transform: scale(1.05);
    background-color: #bfbbbb;
    color: rgb(17, 17, 17);
    box-shadow: 0px 0px 3px 3px #ffffff;
  }

#submit-btn-container,
.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6%;
  margin-bottom: 15%;
  width: 20%;
}

.edit-btn {
  display: none;
}

.color-selection {
  display: flex;
  justify-content: space-between;
  margin: 3% 0;
}

.color-selector {
  border: none;
  outline: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
}

.container-container {
display: flex;
flex-direction: column;
justify-content: center;
width: 45%;
}

.example-container {
  border-radius: 15px;
  padding: 5% 1%;
  width: 100%;
  height: 45%;
  background-color: hsl(0, 16%, 85%);
  box-shadow: 8px 8px rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10% 5%;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

.title-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-title {
  font-size: 2rem;
}

#job-title {
  font-size: 1.5rem;
  opacity: 0.75;
}

#phone-title,#email-title {
font-size: 1.25rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0 7% 5% 5%;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

#loginForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

#signupForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.user-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  margin: 3%;
}

.username-container {
  display: flex;
  gap: 10%;
  margin: 5%;
  padding: 5% 0 5% 0;
}

#username-login {
  border-radius: 3px;
  border-bottom: 1px solid black;
}

#password-login {
  border-radius: 3px;
  border-bottom: 1px solid black;
}

.login-label {
  color: black;
}

.login-submit {
  background-color: #454547;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.password-container {
  display: flex;
  gap: 11%;
  margin: 5%;
  padding-bottom: 10%;
}

.delete-card {
  height: 20%;
}

.close-login,
.close-signup,
.delete-card {
  color: #232222;
  font-size: 3rem;
  width: 5%;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.close-login:hover,
.close-login:focus,
.close-signup:hover,
.close-signup:focus,
.delete-card:hover,
.delete-card:focus {
  color: #d01414;
  text-decoration: none;
  cursor: pointer;
}

.myCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.allPersonCards {
  border-radius: 15px;
  padding: 2%;
  width: 40%;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 8px 8px rgb(34, 33, 33);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.allPersonCards:hover {
  transform: scale(1.1);
}

.footer-container {
  background-color: #9e9e9e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
